In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ProHactive - Data Model.csv')

In [3]:
list(df.columns)

['username',
 'Password',
 'Name',
 'Address ',
 'phonenumber',
 'preference',
 'cartid',
 'username.1',
 'productid',
 'orderquantity',
 'productid.1',
 'productname',
 'description',
 'quantityavailable',
 'Currency',
 'Price',
 'Category']

In [4]:
df['productname'].to_json()

'{"0":null,"1":null,"2":null,"3":null,"4":null,"5":null,"6":"Water Heaters","7":"Prism","8":"Tracker"}'

In [5]:
df1 = df.loc[df['productname'].notnull()][['productname', 'description', 'Price', 'Category', 'Currency', 'quantityavailable']]

In [6]:
df1.to_json(orient='split')

'{"columns":["productname","description","Price","Category","Currency","quantityavailable"],"index":[6,7,8],"data":[["Water Heaters","Water heaters for home. 50L capacity. 50W Power",120.0,"HomeElectricals","$",10.0],["Prism","Multi color lights",25.0,"Lights","$",5.0],["Tracker","GPS tracker for vehicles",250.0,"Logistics","USD",8.0]]}'

In [7]:
obj = df1.apply(lambda x:x.to_json(), axis=1)

In [8]:
type(obj)

pandas.core.series.Series

In [9]:
df1.to_json(orient='records')

'[{"productname":"Water Heaters","description":"Water heaters for home. 50L capacity. 50W Power","Price":120.0,"Category":"HomeElectricals","Currency":"$","quantityavailable":10.0},{"productname":"Prism","description":"Multi color lights","Price":25.0,"Category":"Lights","Currency":"$","quantityavailable":5.0},{"productname":"Tracker","description":"GPS tracker for vehicles","Price":250.0,"Category":"Logistics","Currency":"USD","quantityavailable":8.0}]'

In [10]:
import json

In [11]:
json.loads(df1.to_json(orient='records'))

[{'Category': 'HomeElectricals',
  'Currency': '$',
  'Price': 120.0,
  'description': 'Water heaters for home. 50L capacity. 50W Power',
  'productname': 'Water Heaters',
  'quantityavailable': 10.0},
 {'Category': 'Lights',
  'Currency': '$',
  'Price': 25.0,
  'description': 'Multi color lights',
  'productname': 'Prism',
  'quantityavailable': 5.0},
 {'Category': 'Logistics',
  'Currency': 'USD',
  'Price': 250.0,
  'description': 'GPS tracker for vehicles',
  'productname': 'Tracker',
  'quantityavailable': 8.0}]

In [12]:
df2 = df.loc[df['cartid'].notnull()][['productid', 'orderquantity', 'cartid']].astype(int)

In [13]:
df2

   productid  orderquantity  cartid
3        101              2       1
4        102              5       1
5        103              3       2

In [14]:
json.loads(df2.to_json(orient='records'))

[{'cartid': 1, 'orderquantity': 2, 'productid': 101},
 {'cartid': 1, 'orderquantity': 5, 'productid': 102},
 {'cartid': 2, 'orderquantity': 3, 'productid': 103}]

In [15]:
df

,username,Password,Name,Address,phonenumber,preference,cartid,username.1,productid,orderquantity,productid.1,productname,description,quantityavailable,Currency,Price,Category
0,ralph_ray,MyPassword123!,RalpH Ray,"10, Downing Street, LA 3ED 5B7",(1022) 233-9202,HomeElectricals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,s_jones,Smith999!@,Smit Jones,"22 Ivory Island, New York, WE9 87G",(1121) 335-6784,Lights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,roverd,April23!,David Rover,98 Manning Town Events Day TowerNew Jersey 23E...,(2344) 749-5671,Logistics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,ralph_ray,101.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,1.0,ralph_ray,102.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,2.0,s_jones,103.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101.0,Water Heaters,Water heaters for home. 50L capacity. 50W Power,10.0,$,120.0,HomeElectricals
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.0,Prism,Multi color lights,5.0,$,25.0,Lights
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.0,Tracker,GPS tracker for vehicles,8.0,USD,250.0,Logistics

In [16]:
df.loc[df['productname'].notnull()][['productname', 'description', 'Price', 'Category', 'Currency', 'quantityavailable']]

,productname,description,Price,Category,Currency,quantityavailable
6,Water Heaters,Water heaters for home. 50L capacity. 50W Power,120.0,HomeElectricals,$,10.0
7,Prism,Multi color lights,25.0,Lights,$,5.0
8,Tracker,GPS tracker for vehicles,250.0,Logistics,USD,8.0

In [17]:
df = df.rename(columns=lambda x: x.strip())

In [18]:
df.columns

Index(['username', 'Password', 'Name', 'Address', 'phonenumber', 'preference',
       'cartid', 'username.1', 'productid', 'orderquantity', 'productid.1',
       'productname', 'description', 'quantityavailable', 'Currency', 'Price',
       'Category'],
      dtype='object')

In [19]:
user_data = df.loc[df['username'].notnull()][['username', 'Password', 'Name', 'Address', 'phonenumber', 'preference']]

In [20]:
# user_data.to_csv('UserData.csv')

In [21]:
product_header_columns = ['productid.1', 'productname', 'description', 'quantityavailable', 'Currency', 'Price', 'Category']

In [22]:
product_data = df.loc[df['productname'].notnull()][product_header_columns]

In [23]:
product_data.columns = ['productid', 'productname', 'description', 'quanbtityavailable', 'currency', 'price', 'category']

In [24]:
product_data

,productid,productname,description,quanbtityavailable,currency,price,category
6,101.0,Water Heaters,Water heaters for home. 50L capacity. 50W Power,10.0,$,120.0,HomeElectricals
7,102.0,Prism,Multi color lights,5.0,$,25.0,Lights
8,103.0,Tracker,GPS tracker for vehicles,8.0,USD,250.0,Logistics

In [25]:
df[(df['username'] == 'roverd') & (df['Password'] == 'MyPassword123!')].empty

True

In [26]:
obj.empty

False

In [27]:
str(df['username'].iloc[-1])

'nan'

In [28]:
cart = pd.read_csv('CartData.csv')
cart = cart.loc[:, ~cart.columns.str.contains('^Unnamed')]
product = pd.read_csv('ProductData.csv')
product = product.loc[:, ~product.columns.str.contains('^Unnamed')]

In [29]:
cart[cart['username'] == 'ralph_ray']

   cartid   username  productid  orderquantity
0       1  ralph_ray        101              2
1       1  ralph_ray        102              5

In [30]:
product

,productid,productname,description,quantityavailable,currency,cost,category
0,101,Water Heaters,Water heaters for home. 50L capacity. 50W Power,10,$,120.0,HomeElectricals
1,102,Prism,Multi color lights,5,$,25.0,Lights
2,103,Tracker,GPS tracker for vehicles,8,USD,250.0,Logistics

In [31]:
data = pd.merge(cart, product, on='productid', how='inner')

In [32]:
data.to_json()

'{"cartid":{"0":1,"1":1,"2":2},"username":{"0":"ralph_ray","1":"ralph_ray","2":"s_jones"},"productid":{"0":101,"1":102,"2":103},"orderquantity":{"0":2,"1":5,"2":3},"productname":{"0":"Water Heaters","1":"Prism","2":"Tracker"},"description":{"0":"Water heaters for home. 50L capacity. 50W Power","1":"Multi color lights","2":"GPS tracker for vehicles"},"quantityavailable":{"0":10,"1":5,"2":8},"currency":{"0":"$","1":"$","2":"USD"},"cost":{"0":120.0,"1":25.0,"2":250.0},"category":{"0":"HomeElectricals","1":"Lights","2":"Logistics"}}'

In [33]:
user = pd.read_csv('UserData.csv')

In [34]:
user = user.loc[:, ~user.columns.str.contains('^Unnamed')]

In [35]:
user

,username,Password,Name,Address,phonenumber,preference
0,ralph_ray,MyPassword123!,RalpH Ray,"10, Downing Street, LA 3ED 5B7",(1022) 233-9202,HomeElectricals
1,s_jones,Smith999!@,Smit Jones,"22 Ivory Island, New York, WE9 87G",(1121) 335-6784,Lights
2,roverd,April23!,David Rover,98 Manning Town Events Day TowerNew Jersey 23E...,(2344) 749-5671,Logistics

In [36]:
usercart = pd.merge(cart, user, on='username', how='inner')

In [37]:
usercart

,cartid,username,productid,orderquantity,Password,Name,Address,phonenumber,preference
0,1,ralph_ray,101,2,MyPassword123!,RalpH Ray,"10, Downing Street, LA 3ED 5B7",(1022) 233-9202,HomeElectricals
1,1,ralph_ray,102,5,MyPassword123!,RalpH Ray,"10, Downing Street, LA 3ED 5B7",(1022) 233-9202,HomeElectricals
2,2,s_jones,103,3,Smith999!@,Smit Jones,"22 Ivory Island, New York, WE9 87G",(1121) 335-6784,Lights

In [38]:
pd.merge(product, usercart, on='productid', how='inner')

,productid,productname,description,quantityavailable,currency,cost,category,cartid,username,orderquantity,Password,Name,Address,phonenumber,preference
0,101,Water Heaters,Water heaters for home. 50L capacity. 50W Power,10,$,120.0,HomeElectricals,1,ralph_ray,2,MyPassword123!,RalpH Ray,"10, Downing Street, LA 3ED 5B7",(1022) 233-9202,HomeElectricals
1,102,Prism,Multi color lights,5,$,25.0,Lights,1,ralph_ray,5,MyPassword123!,RalpH Ray,"10, Downing Street, LA 3ED 5B7",(1022) 233-9202,HomeElectricals
2,103,Tracker,GPS tracker for vehicles,8,USD,250.0,Logistics,2,s_jones,3,Smith999!@,Smit Jones,"22 Ivory Island, New York, WE9 87G",(1121) 335-6784,Lights

In [56]:
cart[cart['cartid'] == '1']

/home/user/anaconda3/lib/python3.6/site-packages/pandas/core/ops.py:1167: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

TypeError: invalid type comparison

In [40]:
product

,productid,productname,description,quantityavailable,currency,cost,category
0,101,Water Heaters,Water heaters for home. 50L capacity. 50W Power,10,$,120.0,HomeElectricals
1,102,Prism,Multi color lights,5,$,25.0,Lights
2,103,Tracker,GPS tracker for vehicles,8,USD,250.0,Logistics

In [54]:
order = pd.merge(cart, product, on='productid', how='inner')

In [55]:
order

,cartid,username,productid,orderquantity,productname,description,quantityavailable,currency,cost,category
0,1,ralph_ray,101,2,Water Heaters,Water heaters for home. 50L capacity. 50W Power,10,$,120.0,HomeElectricals
1,1,ralph_ray,102,5,Prism,Multi color lights,5,$,25.0,Lights
2,2,s_jones,103,3,Tracker,GPS tracker for vehicles,8,USD,250.0,Logistics

In [44]:
order['total_cost'] = 0

In [46]:
order['total_cost'] = order['orderquantity'] * order['cost']

In [49]:
orderdetails = order[['username', 'cartid', 'productname', 'orderquantity', 'cost', 'total_cost']]

In [50]:
orderdetails

    username  cartid    productname  orderquantity   cost  total_cost
0  ralph_ray       1  Water Heaters              2  120.0       240.0
1  ralph_ray       1          Prism              5   25.0       125.0
2    s_jones       2        Tracker              3  250.0       750.0

In [57]:
df.drop(df[(df.cartid == key['cartId']) & (df.productid == key['productId']) & (df.username == username)].index, inplace=True)

NameError: name 'key' is not defined