In [1]:
import numpy as np

__numpy.array(object, dtype = None, copy = True, order = None, subok = False, ndmin = 0)__

In [2]:
# returns a numpy array
np.array([1,2,3])

array([1, 2, 3])

In [3]:
# more than one dimensions
np.array([[1,2,3], [4,5,6]])

array([[1, 2, 3],
       [4, 5, 6]])

In [4]:
# minimum dimension
np.array([1,2,3,4,5], ndmin=2)

array([[1, 2, 3, 4, 5]])

In [5]:
np.array([1,2,3,4,5], ndmin=3)

array([[[1, 2, 3, 4, 5]]])

In [6]:
np.array([1,2,3,4,5])

array([1, 2, 3, 4, 5])

In [7]:
np.array([1,2,3,4], dtype=complex)

array([1.+0.j, 2.+0.j, 3.+0.j, 4.+0.j])

In [8]:
# using array-scalar type 
np.dtype(np.int32)

dtype('int32')

In [9]:
#int8, int16, int32, int64 can be replaced by equivalent string 'i1', 'i2','i4', etc. 
np.dtype('i4')

dtype('int32')

In [10]:
np.dtype('i8')

dtype('int64')

In [11]:
# using endian notation 
np.dtype('>i4')

dtype('>i4')

In [12]:
# structured data type
dt = np.dtype([('age', np.int8), ('weight', np.float32)])

In [13]:
np.array([(10, 22.5, 55.5)], dtype=dt)

ValueError: could not assign tuple of length 3 to structure with 2 fields.

In [14]:
np.array([(10, 22.5, )], dtype=dt)

array([(10, 22.5)], dtype=[('age', 'i1'), ('weight', '<f4')])

In [15]:
student = np.dtype([('name', 'S20'), ('age', 'i1'), ('marks', 'f4')])

In [16]:
student

dtype([('name', 'S20'), ('age', 'i1'), ('marks', '<f4')])

In [17]:
np.array([('test', 20, 80), ('xyz', 21, 85)], dtype=student) # assigning the dtype as student(np data type)

array([(b'test', 20, 80.), (b'xyz', 21, 85.)],
      dtype=[('name', 'S20'), ('age', 'i1'), ('marks', '<f4')])

In [18]:
np.array([('test', 20, 80), ('xyz', 'age-str', 85)], dtype=student)

ValueError: invalid literal for int() with base 10: 'age-str'