In [1]:
import pandas as pd

__Pandas time series period and periodIndex__

__Yearly period__

In [2]:
y = pd.Period('2016')

In [3]:
y

Period('2016', 'A-DEC')

In [4]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [6]:
y.is_leap_year

True

__Monthly Period__

In [7]:
m = pd.Period('2017-12')

In [8]:
m

Period('2017-12', 'M')

In [9]:
m.start_time, m.end_time

(Timestamp('2017-12-01 00:00:00'), Timestamp('2017-12-31 23:59:59.999999999'))

In [10]:
m.days_in_month, m.day, m.dayofweek, m.daysinmonth, m.end_time, m.is_leap_year

(31, 31, 6, 31, Timestamp('2017-12-31 23:59:59.999999999'), False)

In [11]:
m + 1

Period('2018-01', 'M')

__Daily period__

In [13]:
d = pd.Period('2016-02-28', freq='D')

In [14]:
d

Period('2016-02-28', 'D')

In [15]:
d.start_time, d.end_time

(Timestamp('2016-02-28 00:00:00'), Timestamp('2016-02-28 23:59:59.999999999'))

In [16]:
d + 1

Period('2016-02-29', 'D')

__Hourly Period__

In [17]:
h = pd.Period('2017-08-15 23:00:00', freq='H')

In [18]:
h

Period('2017-08-15 23:00', 'H')

In [19]:
h + 1

Period('2017-08-16 00:00', 'H')

__Achieve same results using pandas offset hours__

In [20]:
h + pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

In [21]:
h + pd.offsets.Hour(2)

Period('2017-08-16 01:00', 'H')

__Quaterly Period__

In [22]:
q1 = pd.Period('2017Q1', freq='Q-JAN')

In [23]:
q1

Period('2017Q1', 'Q-JAN')

In [24]:
q1.start_time, q1.end_time

(Timestamp('2016-02-01 00:00:00'), Timestamp('2016-04-30 23:59:59.999999999'))

__Use asfreq to convert period to different frequency__

In [25]:
q1.asfreq('M', how='start')

Period('2016-02', 'M')

In [26]:
q1.asfreq('M', how='end')

Period('2016-04', 'M')

__Weekly Period__

In [27]:
w = pd.Period('2017-07-05', freq='W')

In [28]:
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [29]:
w - 1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [31]:
w2 = pd.Period('2017-08-15', freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [32]:
w2 - w

6

__Period Index and period_range__

pd.period_range(start=None, end=None, periods=None, freq='D', name=None)

In [34]:
r = pd.period_range('2015', '2017', freq='q')
r

PeriodIndex(['2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2',
             '2016Q3', '2016Q4', '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [40]:
r[0].start_time

Timestamp('2015-01-01 00:00:00')

In [41]:
r[0].end_time

Timestamp('2015-03-31 23:59:59.999999999')

Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017

In [42]:
r = pd.period_range('2015', '2017', freq='q-jan')
r

PeriodIndex(['2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1',
             '2017Q2', '2017Q3', '2017Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [44]:
r[0].start_time, r[0].end_time

(Timestamp('2014-11-01 00:00:00'), Timestamp('2015-01-31 23:59:59.999999999'))

pd.PeriodIndex(data=None, ordinal=None, freq=None, start=None, end=None, periods=None, tz=None, dtype=None, copy=False, name=None, **fields)

In [50]:
idx = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
idx

PeriodIndex(['2016-01', '2016-04', '2016-07', '2016-10', '2017-01', '2017-04',
             '2017-07', '2017-10', '2018-01', '2018-04'],
            dtype='period[3M]', freq='3M')

In [46]:
import numpy as np

In [52]:
ps = pd.Series(np.random.rand(len(idx)), idx)
ps

2016-01    0.905581
2016-04    0.400187
2016-07    0.423894
2016-10    0.057259
2017-01    0.149339
2017-04    0.232908
2017-07    0.030574
2017-10    0.299089
2018-01    0.799462
2018-04    0.109128
Freq: 3M, dtype: float64

__Partial Indexing__

In [53]:
ps['2016']

2016-01    0.905581
2016-04    0.400187
2016-07    0.423894
2016-10    0.057259
2017-01    0.149339
Freq: 3M, dtype: float64

In [54]:
ps['2016':'2017']

2016-01    0.905581
2016-04    0.400187
2016-07    0.423894
2016-10    0.057259
2017-01    0.149339
2017-04    0.232908
2017-07    0.030574
2017-10    0.299089
Freq: 3M, dtype: float64

In [55]:
pst = ps.to_timestamp()
pst

2016-01-01    0.905581
2016-04-01    0.400187
2016-07-01    0.423894
2016-10-01    0.057259
2017-01-01    0.149339
2017-04-01    0.232908
2017-07-01    0.030574
2017-10-01    0.299089
2018-01-01    0.799462
2018-04-01    0.109128
Freq: QS-OCT, dtype: float64

In [56]:
pst.index

DatetimeIndex(['2016-01-01', '2016-04-01', '2016-07-01', '2016-10-01',
               '2017-01-01', '2017-04-01', '2017-07-01', '2017-10-01',
               '2018-01-01', '2018-04-01'],
              dtype='datetime64[ns]', freq='QS-OCT')

In [57]:
ps = pst.to_period()
ps

2016Q1    0.905581
2016Q2    0.400187
2016Q3    0.423894
2016Q4    0.057259
2017Q1    0.149339
2017Q2    0.232908
2017Q3    0.030574
2017Q4    0.299089
2018Q1    0.799462
2018Q2    0.109128
Freq: Q-DEC, dtype: float64

In [58]:
ps.index

PeriodIndex(['2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2',
             '2017Q3', '2017Q4', '2018Q1', '2018Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

__Processing Walmart's Financials__

In [59]:
df = pd.read_csv('wmt.csv')
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [60]:
df.set_index('Line Item', inplace=True)

DataFrame.T -> Transpose Index and cloumns

In [63]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [64]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [65]:
df.index = pd.PeriodIndex(df.index, freq='Q-JAN')
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [66]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [67]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

__Add start date and end date columns to dataframe__

In [68]:
df['Start Date'] = df.index.map(lambda x:x.start_time)

In [69]:
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [70]:
df['End Date'] = df.index.map(lambda x:x.end_time)

In [71]:
df

Line Item  Revenue  Expenses  Profit Start Date   End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30
2017Q2      120854     89485   31369 2016-05-01 2016-07-31
2017Q3      118179     87484   30695 2016-08-01 2016-10-31
2017Q4      130936     97743   33193 2016-11-01 2017-01-31
2018Q1      117542     87688   29854 2017-02-01 2017-04-30