In [1]:
import pandas as pd

__Pandas time series period and periodIndex__

__Yearly period__

In [2]:
y = pd.Period('2016')

In [3]:
y

Period('2016', 'A-DEC')

In [4]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [5]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [6]:
y.is_leap_year

True

__Monthly Period__

In [7]:
m = pd.Period('2017-12')

In [8]:
m

Period('2017-12', 'M')

In [9]:
m.start_time, m.end_time

(Timestamp('2017-12-01 00:00:00'), Timestamp('2017-12-31 23:59:59.999999999'))

In [10]:
m.days_in_month, m.day, m.dayofweek, m.daysinmonth, m.end_time, m.is_leap_year

(31, 31, 6, 31, Timestamp('2017-12-31 23:59:59.999999999'), False)

In [11]:
m + 1

Period('2018-01', 'M')

__Daily period__

In [13]:
d = pd.Period('2016-02-28', freq='D')

In [14]:
d

Period('2016-02-28', 'D')

In [15]:
d.start_time, d.end_time

(Timestamp('2016-02-28 00:00:00'), Timestamp('2016-02-28 23:59:59.999999999'))

In [16]:
d + 1

Period('2016-02-29', 'D')

__Hourly Period__

In [17]:
h = pd.Period('2017-08-15 23:00:00', freq='H')

In [18]:
h

Period('2017-08-15 23:00', 'H')

In [19]:
h + 1

Period('2017-08-16 00:00', 'H')

__Achieve same results using pandas offset hours__

In [20]:
h + pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'H')

In [21]:
h + pd.offsets.Hour(2)

Period('2017-08-16 01:00', 'H')

__Quaterly Period__

In [22]:
q1 = pd.Period('2017Q1', freq='Q-JAN')

In [23]:
q1

Period('2017Q1', 'Q-JAN')

In [24]:
q1.start_time, q1.end_time

(Timestamp('2016-02-01 00:00:00'), Timestamp('2016-04-30 23:59:59.999999999'))

__Use asfreq to convert period to different frequency__

In [25]:
q1.asfreq('M', how='start')

Period('2016-02', 'M')

In [26]:
q1.asfreq('M', how='end')

Period('2016-04', 'M')

__Weekly Period__

In [27]:
w = pd.Period('2017-07-05', freq='W')

In [28]:
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [29]:
w - 1

Period('2017-06-26/2017-07-02', 'W-SUN')